.queueItemContainer {
  display: flex;
  gap: 15px;
  margin-inline: 15px;
  margin-block: 15px 40px;
  cursor: pointer;
}
.albumArtThumbnailContainer {
  background: var(--current-song-color);
  border-radius: 4px;
  aspect-ratio: 1;
  height: 40px;
}
.albumArtThumbnailContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  opacity: 0.8;
}

.queueItemTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.queueItemTextContainer > p {
  font-size: 0.95rem;
  line-break: anywhere;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.queueItemTextContainer > p:first-child {
  font-weight: 500;
}
.queueItemTextContainer > p:last-child {
  opacity: 0.5;
}

.currentlyPlayingSongName {
  text-decoration-color: #fff6;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}
