:root {
  --bg-color: #1c1c1c;
  --amber-green: #48d728;
  --amber-green-dimmed: #3aac20;
  --error-color: #ff156d;
  --error-color-dimmed: #341a24;
  --current-song-color: #bd95ee;
  --max-player-width-mobile: 360px;
  --default-text-color: #fff;
  --player-timeline-thickness: 6px;
}

@font-face {
  font-display: swap;
  font-family: "ESans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/instrument-sans-v3-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "ESans";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/instrument-sans-v3-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "ESans";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/instrument-sans-v3-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "ESans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/instrument-sans-v3-latin-700.woff2") format("woff2");
}

body {
  margin: 0;
  background: var(--bg-color);
}
p {
  margin: 0;
}
* {
  font-family: "ESans";
  box-sizing: border-box;
  user-select: none;
  color: var(--default-text-color);
}
