/* Prioritizing mobile for now */
@media (min-width: 600px) {
  html,
  body {
    max-width: 420px;
    margin: 0 auto;
  }
  html {
    background-image: linear-gradient(
      45deg,
      #595959 16.67%,
      #474747 16.67%,
      #474747 50%,
      #595959 50%,
      #595959 66.67%,
      #474747 66.67%,
      #474747 100%
    );
    background-size: 15px 15px;
  }
}
